[Unit]
Description=Check SSH Autotication to Nginx Server
After=network.target

[Service]
Type=simple
ExecStart=/etc/script/check-ssh.sh
Environment="DB_PASSWD=******"
Restart=on-failure

[Install]
WantedBy=multi-user.target
